* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #f0f4f3;
    color: #333;
}

/* Estilos del header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 5px 20px;
    width: 100%;
}

.logo {
    display: flex;
    align-items: center;
    gap: 400px;
}

.logo-image {
    width: 168px;
    height: 168px;
    
}
.logo-link {
    text-decoration: none;
    color: inherit; /* Hereda el color del texto */
    cursor: pointer;
}
.logo-text {
    
    text-decoration: none;
    font-size: 80px;
    font-weight: bold;
    color: #0d4979;
    font-family: "Raleway", sans-serif;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
}

.icon-menu{
    width: 89px;
    height: 88px;
}
/* Estilos barra menu */
.header-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    background-color: #0d4979;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    width: 100%;
}
.navbar {
    background-color: #0d4979;
    padding: 10px 0;
}

.menu {
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 100%;
    gap: 380px;
    margin-left: 450px;
}

.appointment{
    margin-left: 150px;
}

.menu li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    font-family: "Raleway", sans-serif;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
   
}

.menu li a:hover {
    background-color: #0d4979;
}

/* Estilos generales */
.form-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f0f4f3;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.form-title {
    font-size: 36px;
    margin-bottom: 20px;
    text-align: center;
}

.form-body {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

/* Organización de filas */
.form-row {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

/* Estilo de cada grupo de campo */
.form-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

/* Estilo de etiquetas y campos */
label {
    font-weight: bold;
    margin-left: 10px;
}

input, select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}
.name-input{
    width: 300px;
}
.last-input{
    width: 300px;
}
.doctor-input{
    width: 300px;
}
.id-input{
    width: 300px;
}
.birth-input{
    width: 300px;
}
.patient-input{
    width: 300px;
}
/* Botón de envío */
.prescription-btn {
    padding: 10px 20px;
    background-color: #0d4979;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.prescription-btn:hover {
    background-color: #0b3e6c;
}
